language: php

sudo: false

php:
  - 5.6
  - 7.0
  - hhvm

services:
  - redis-server
  - memcached

before_install:
  - if [[ $TRAVIS_PHP_VERSION != 'hhvm' ]] ; then pecl channel-update pecl.php.net; fi;
  - if [[ $TRAVIS_PHP_VERSION =~ 5.[56] ]] ; then echo yes | pecl install apcu-4.0.10; fi;
  - if [[ $TRAVIS_PHP_VERSION = 7.* ]] ; then pecl config-set preferred_state beta; echo yes | pecl install apcu; fi;
  - phpenv config-add travis-php.ini

install:
    - travis_retry composer install

script:
  - mkdir -p build/logs
  - ./vendor/bin/phpunit

after_script:
  - ./vendor/bin/coveralls -v

  matrix:
      fast_finish: true
      allow_failures:
          - php: hhvm
          - php: 7.0